html {
  height: 100%;
  width: 100%;
}

// Override Pure.css font stack
html,
button,
input,
select,
textarea,
.pure-g [class *="pure-u"] {
  font-family: $font-stack;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

a {
  color: $texticon;
  text-decoration: none;

}

body {
  background: linear-gradient(45deg, $dark-primary-color, $light-secondary-color);
  background-attachment: fixed;
  font-size: 16px;
  color: $texticon;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.full-wrapper {
  margin: 0 auto;
  width: 1200px;
  max-width: 1200px;
}

.site-title {
  width: 100vw;
  background-color: #222;
  margin-bottom: 3rem;
}


/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}