#streamer-grid {

  img {
    width: 150px;
    height: 150px;
  }

  span {
    display: block;
    padding: 1em;
  }
}

.one-streamer {
  margin-bottom: 20px;
  text-align: center;

  &:not(:nth-child(3)) {
    border-right: 1px solid $divider-color;
  }

  &:last-child {
    border: none;
  }

  img {
    border-radius: 5px;
  }
}

.stream-status {
  font-size: .75em;
}