#streamer-grid {

  img {
    width: 150px;
    height: 150px;
  }

  span {
    display: block;
    padding: 1em;
  }
}

.one-streamer {
  margin-bottom: 50px;
  text-align: center;

  &:nth-child(3n+1) {
    border-right: 1px solid $divider-color;
  }

  &:nth-child(2n+3 ) {
    border-left: 1px solid $divider-color;
  }

  &:last-child {
    border: none;
  }

  img {
    border-radius: 5px;
    opacity: .5;
    transition: .4s all;

  }

  img.hvr-grow {
    opacity: 1;
  }

}

.stream-name {
  font-size: .75em;
}

.online::after {
   content: '';
   display: inline-block;
   width: 15px;
   height: 15px;
   -moz-border-radius: 7.5px;
   -webkit-border-radius: 7.5px;
   border-radius: 7.5px;
   margin-left: 5px;
   background-color: #22ff22;
}

.offline {
  color: rgba($texticon, .5);
}

.offline::after {
   content: '';
   display: inline-block;
   width: 15px;
   height: 15px;
   -moz-border-radius: 7.5px;
   -webkit-border-radius: 7.5px;
   border-radius: 7.5px;
   margin-left: 5px;
   background-color: #ff2222;
}