// Import font
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,700&subset=latin-ext");

// font variables
$font-stack: "Oswald", sans-serif;

// Color variables
$primary-color: #6534ab;
$dark-primary-color: #4f159f;
$light-primary-color: #7e51bd;
$accent-color: #b346b7;
$secondary-color: #3d40b0;
$light-secondary-color: #5a5dc1;
$divider-color: #8385d7;
$texticon: #eee;