@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,700&subset=latin-ext");
html {
  height: 100%;
  width: 100%; }

html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  font-family: "Oswald", sans-serif; }

body {
  background: linear-gradient(45deg, #4f159f, #5a5dc1);
  font-size: 16px;
  color: #eee; }

.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.full-wrapper {
  margin: 2rem auto;
  text-align: center;
  border: 1px solid red;
  width: 1200px;
  max-width: 1200px; }

.streamer-grid img {
  width: 150px;
  height: 150px; }

.streamer-grid span {
  display: block;
  padding: 1em; }
